.DS_Store
node_modules
dist
.astro/

# local env files
.env
.env.*
!.env.example

# Log files
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 