@import './tailwind.css';

@layer theme {
  .themeRoot {
    --color-primary: var(--color-red-600);
    --color-surface: var(--color-white);
    --color-text: var(--color-black);

    @variant rose {
      --color-text: oklch(0.25 0.1379 347.29);
      --color-surface: var(--color-rose-100);
    }
    @variant dark {
      --color-text: var(--color-grey-50);
      --color-surface: var(--color-black);
    }

    color: var(--color-text);
  }
}

@layer base {
  p {
    font-size: var(--text-base);
  }
  h1 {
    font-size: var(--text-9xl);
  }
  h2 {
    font-size: var(--text-8xl);
  }
  h3 {
    font-size: var(--text-7xl);
  }
  h4 {
    font-size: var(--text-6xl);
  }
  h5 {
    font-size: var(--text-5xl);
  }
  h6 {
    font-size: var(--text-4xl);
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-6 py-3 text-center align-middle font-sans text-xs;
  }
  .surface {
    background-color: var(--color-surface);
  }
}
