@import 'tailwindcss';

/* Custom themes, dependent upon the ThemeSelector component. Works without JS */
@custom-variant dark {
  &:where(:has(#auto-theme-radio:checked) *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
  &:where(:has(#dark-theme-radio:checked) *) {
    @slot;
  }
}

@custom-variant rose {
  &:where(:has(#rose-theme-radio:checked) *) {
    @slot;
  }
}

@theme {
  --font-sans:
    'Arial', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* breakpoints and container sizes */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem; /* targets mobile below this size */
  --container-md: 28rem;
  --container-lg: 32rem;

  /* breakpoints and container sizes */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-8xl: 128rem;

  /* Font sizes */
  --text-xs: 0.6875rem; /* 11 */
  --text-xs--line-height: 1;
  --text-xs--letter-spacing: normal;
  --text-xs--font-weight: 400;
  --text-sm: 0.75rem; /* 12 */
  --text-sm--line-height: 1;
  --text-sm--letter-spacing: normal;
  --text-sm--font-weight: 400;
  --text-md: 0.875rem; /* 14 */
  --text-md--line-height: 1;
  --text-md--letter-spacing: normal;
  --text-md--font-weight: 400;
  --text-base: 1rem; /* 16 */
  --text-base--line-height: 1;
  --text-base--letter-spacing: normal;
  --text-base--font-weight: 400;
  --text-lg: 1.125rem; /* 18 */
  --text-lg--line-height: 1;
  --text-lg--letter-spacing: normal;
  --text-lg--font-weight: 400;
  --text-xl: 1.25rem; /* 20 */
  --text-xl--line-height: 1;
  --text-xl--letter-spacing: normal;
  --text-xl--font-weight: 400;
  --text-2xl: 1.375rem; /* 22 */
  --text-2xl--line-height: 1;
  --text-2xl--letter-spacing: normal;
  --text-2xl--font-weight: 400;
  --text-3xl: 1.5rem; /* 24 */
  --text-3xl--line-height: 1;
  --text-3xl--letter-spacing: normal;
  --text-3xl--font-weight: 400;
  --text-4xl: 1.75rem; /* 28 */
  --text-4xl--line-height: 1;
  --text-4xl--letter-spacing: normal;
  --text-4xl--font-weight: 400;
  --text-5xl: 2rem; /* 32 */
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: normal;
  --text-5xl--font-weight: 400;
  --text-6xl: 2.5rem; /* 40 */
  --text-6xl--line-height: 1;
  --text-6xl--letter-spacing: normal;
  --text-6xl--font-weight: 400;
  --text-7xl: 3rem; /* 48 */
  --text-7xl--line-height: 1;
  --text-7xl--letter-spacing: normal;
  --text-7xl--font-weight: 400;
  --text-8xl: 3.5rem; /* 56 */
  --text-8xl--line-height: 1;
  --text-8xl--letter-spacing: normal;
  --text-8xl--font-weight: 400;
  --text-9xl: 4.5rem; /* 72 */
  --text-9xl--line-height: 1;
  --text-9xl--letter-spacing: normal;
  --text-9xl--font-weight: 400;

  /* Colors */
  --color-white: oklch(0.995 0.001 106.423);
  --color-grey-50: oklch(0.985 0.001 106.423);
  --color-grey-100: oklch(0.97 0.001 106.424);
  --color-grey-200: oklch(0.923 0.003 48.717);
  --color-grey-300: oklch(0.869 0.005 56.366);
  --color-grey-400: oklch(0.709 0.01 56.259);
  --color-grey-500: oklch(0.553 0.013 58.071);
  --color-grey-600: oklch(0.444 0.011 73.639);
  --color-grey-700: oklch(0.374 0.01 67.558);
  --color-grey-800: oklch(0.268 0.007 34.298);
  --color-grey-900: oklch(0.216 0.006 56.043);
  --color-grey-950: oklch(0.147 0.004 49.25);
  --color-black: oklch(0 0 0);
}
