---
import ThemeSelector from '../ThemeSelector.astro';
import '@/styles/main.css';
---

<!doctype html>
<html>
  <head>
    <meta name='color-scheme' content="dark light" />
    <slot name='head' />
  </head>
  <body class='themeRoot surface'>
    <div class='mx-auto max-w-8xl'>
      <ThemeSelector />
      <slot />
    </div>
  </body>
</html>
