---
import Button from '@/components/Button.astro';
import MainLayout from '@/components/layout/MainLayout.astro';
---

<MainLayout>
  <h1 class='rose:text-rose-300 text-red-500 dark:text-blue-500'>
    Hello, World!
  </h1>
  <p>test</p>
  <Button>test</Button>
</MainLayout>
