---
import { Button } from '@/components/Button';
import '../main.css';
---

<html>
  <body>
    <div class="testClass">
      <h1>Hello, World!</h1>
    </div>
    <p>test</p>
    <Button client:visible />
  </body>
</html>
<style>
  p {
    text-decoration: wavy underline purple 25%;
  }
</style>
