<theme-selector aria-label='Choose your site theme' role='radiogroup'>
  <label>
    <input type='radio' name='theme_picker' id='auto-theme-radio' checked />
    auto
  </label>
  <label>
    <input type='radio' name='theme_picker' id='light-theme-radio' />
    light
  </label>
  <label>
    <input type='radio' name='theme_picker' id='dark-theme-radio' />
    dark
  </label>
  <label>
    <input type='radio' name='theme_picker' id='rose-theme-radio' />
    rose
  </label>
</theme-selector>
